*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  #E5E5E5;
}    
.Mobile{
    display: flex;
    max-width: 320px;
    height: 568px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 3.5em;
    margin-bottom: 45px;
}
.logo3{
    position: absolute;
    justify-content: space-evenly;
}
.content-moblie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family: Source Sans Pro;
    font-weight: bold;
    margin-top: 25%;

    
}
.mobile-info{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 0.5rem;
    margin-top: 15%;
    
}
@media only screen, (max-width:400px) {
    .pic3{
       display: flex;
       margin-top: 35%;

    }
}

.Tablet{
    width: 100%;
    max-width: 768px;
    height: 1024px;
    display: flex;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: 3.5em;
}
.logo2{
    margin: 3rem;
    
}
.link{
    display: flex;
    width: 303px;
    height: 25px;
    margin: 3rem;
}
.tablet2{
    display: flex;
    position: absolute;
    flex-direction: column;
    font-family: Poppins;
    font-size: 4rem;
    text-align: center;
    margin-top: 15%;
    width: 574px;
    height: 172px;
    
}
.tablet-info{
    font-family: Source Sans Pro;
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

@media only screen,(min-width:400px),(max-width:800px) {
    .pic2{
        position: absolute;
        width:55%;
        height: auto;   
        margin-top: 35%;   
        margin-left: -40%;
        
    }
}
.desktop{
    max-width: 1440px;
    height: 810px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 3.5rem;
}
.header{
    font-family: Source Sans Pro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em;
}
.logo{
    margin: 3em;
}
.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 100%;
    margin-left: -25%;
    

}
.content{
    font-size: 5rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    white-space: 2%;

}
.text-info{
    font-family: Source Sans Pro;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.icon{
    display: flex;
    position: absolute;
    bottom: 25%;
    margin-left: 10%;


}
.pic1{
    position: relative;
    max-width:576px;
    height: auto;
    width: 100%;
    margin-left: -25%;
    margin-top: 5%;
        
}
@media screen and (max-width:1440px),(min-width:400px){
    .Mobile, .desktop, .Tablet{
        display: flex;
        width: 100%;

        
    }
}